<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <form method="POST" action = "/setup-profile">
        <button type = "submit">Setup Profile</button>
    </form>
    <div id ="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if(d.getElementByID(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/v1_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class = "fb-customerchat" attribution = "setup_tool" page_id = "100095427667041" theme_color="#0A7CFF"
            logged_in_greeting = "Xin chào. Mình có thể giúp gì được cho bạn?"
            logged_out_greeting = "Xin chào. Mình có thể giúp gì được cho bạn?">
      </div>
</body>
</html>